/*=============================================
=                 Breadcrumb                  =
=============================================*/

.breadcrumb {
    --pe-breadcrumb-padding-x: 0;
    --pe-breadcrumb-padding-y: 0;
    --pe-breadcrumb-margin-bottom: 1rem;
    --pe-breadcrumb-color: var(--pe-color-black);
    --pe-breadcrumb-item-padding-x: 0.5rem;
    --pe-breadcrumb-item-active-color: var(--pe-color-gray-900);
    --pe-breadcrumb-font-size:16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
        flex-wrap: wrap;
    padding: var(--pe-breadcrumb-padding-y) var(--pe-breadcrumb-padding-x);
    margin-bottom: var(--pe-breadcrumb-margin-bottom);
    font-size: var(--pe-breadcrumb-font-size);
    color: var(--pe-breadcrumb-color);
    list-style: none;
}

.breadcrumb-item + .breadcrumb-item {
    padding-left: var(--pe-breadcrumb-item-padding-x);
}

.breadcrumb-item > a{
    font-weight: 600;
    color: var(--pe-color-black);
}

.breadcrumb-item > a:hover{
    color: var(--pe-color-primary);
}

.breadcrumb-item + .breadcrumb-item::before {
    float: left;
    padding-right: var(--pe-breadcrumb-item-padding-x);
    color: var(--pe-breadcrumb-color);
    content: var(--pe-breadcrumb-divider, "/") /* rtl: var(--pe-breadcrumb-divider, "/") */;
}

.breadcrumb-item span {
    color: var(--pe-breadcrumb-item-active-color);
}