/*=====  Start of Form Control CSS  ======*/

.form-label {
    margin-bottom: 8px;
}
.form-group{
    margin-bottom: 15px;
}

.form-control, .form-select {
    display: block;
    width: 100%;
    padding: var(--pe-input-y-padding) var(--pe-input-x-padding);
    font-family: var(--pe-input-font-family);
    font-size: var(--pe-input-font-size);
    font-weight: var(--pe-input-font-weight);
    line-height: var(--pe-input-line-height);
    color: var(--pe-input-text-color);
    background-color: var(--pe-input-bg-color);
    border: var(--pe-input-border-width) solid var(--pe-input-border-color);
    border-radius: var(--pe-input-border-radius);
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;    
    -webkit-transition: border-color 0.15s ease-in-out;
            transition: border-color 0.15s ease-in-out;
            transition: border-color 0.15s ease-in-out;
            transition: border-color 0.15s ease-in-out;
}

.form-select {
    --pe-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");   
    padding: var(--pe-input-y-padding) 2.25rem var(--pe-input-y-padding) var(--pe-input-x-padding);
    background-color: var(--pe-input-bg-color);
    background-image: var(--pe-form-select-bg-img), var(--pe-form-select-bg-icon, none);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
}

@media (prefers-reduced-motion: reduce) {
    .form-select , .form-control {
        -webkit-transition: none;
        transition: none;
    }
}

.form-select:focus , .form-control:focus {
    color: var(--pe-input-text-color);
    background-color: var(--pe-input-focus-bg-color);
    border-color: var(--pe-input-focus-border-color);
    outline: 0;
}

.form-control::-webkit-input-placeholder {
    color: var(--pe-input-ph-text-color);
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: var(--pe-input-ph-text-color);
    opacity: 1;
}

.form-control::-ms-input-placeholder {
    color: var(--pe-input-ph-text-color);
    opacity: 1;
}

.form-control::placeholder {
    color: var(--pe-input-ph-text-color);
    opacity: 1;
}

.form-control:disabled {
    opacity:0.65;
}

textarea.form-control {
    min-height: calc(1.5em + 0.75rem + calc(var(--pe-input-border-width) * 2));
}

.form-control[type="file"] {
    overflow: hidden;
}

.form-control[type="file"]:not(:disabled):not([readonly]) {
    cursor: pointer;
}

.form-control::-webkit-date-and-time-value {
    min-width: 85px;
    height: 1.5em;
    margin: 0;
}

.form-control::-webkit-datetime-edit {
    display: block;
    padding: 0;
}

.form-select[multiple], .form-select[size]:not([size="1"]) {
    padding-right: 0.75rem;
    background-image: none;
}



/*=====  Start of Floating Form CSS  ======*/



.form-floating {
    position: relative;
}

.form-floating > label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    font-size: var(--pe-floating-label-font-size);
    padding:var(--pe-input-y-padding) var(--pe-input-x-padding);
    color: var(--pe-input-floating-label-color);
    line-height: calc(var(--pe-input-line-height) + var(--pe-input-border-width) + var(--pe-input-border-width));
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transition: font-size 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
    transition: font-size 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
    transition: font-size 0.15s ease-in-out, transform 0.15s ease-in-out;
    transition: font-size 0.15s ease-in-out, transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}


.form-floating > .form-control::-webkit-input-placeholder {
    color: transparent;
}

.form-floating > .form-control:-ms-input-placeholder {
    color: transparent;
}

.form-floating > .form-control::-ms-input-placeholder {
    color: transparent;
}

.form-floating > .form-control::placeholder {
    color: transparent;
}

@media (prefers-reduced-motion: reduce) {
    .form-floating > label {
        -webkit-transition: none;
        transition: none;
    }
}

.form-floating > .form-control {
    padding:var(--pe-input-y-padding) var(--pe-input-x-padding);
}


.form-floating > .form-control:focus, 
.form-floating > .form-control:not(:placeholder-shown){
    padding-top:var(--pe-floating-input-padding-top);
    padding-bottom:var(--pe-floating-input-padding-bottom);
}

.form-floating > .form-select {
    padding-top:var(--pe-floating-input-padding-top);
    padding-bottom:var(--pe-floating-input-padding-bottom);
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
    font-size: var(--pe-floating-label-focus-font-size);
    color: var(--pe-input-focus-floating-label-color);
    -webkit-transform: translateY(var(--pe-floating-label-top-position));
            transform: translateY(var(--pe-floating-label-top-position));
}

.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-select ~ label::after {
    position: absolute;
    inset: 1rem 0.375rem;
    z-index: -1;
    height: 1.5em;
    content: "";
    background-color: var(--pe-input-bg-color);
    border-radius: var(--pe-input-border-radius);
}


.form-floating > .form-control:-webkit-autofill{
    padding-top:var(--pe-floating-input-padding-top);
    padding-bottom:var(--pe-floating-input-padding-bottom);
    background-color: var(--pe-input-bg-color);
}

.form-floating > .form-control:-webkit-autofill ~ label {
    font-size: var(--pe-floating-label-focus-font-size);
    -webkit-transform: translateY(var(--pe-floating-label-top-position));
            transform: translateY(var(--pe-floating-label-top-position));
}

/* 
.form-floating > :disabled ~ label::after {
    background-color: var(--pe-secondary-bg);
} */


.form-floating > .form-control:-webkit-autofill,
.form-floating > .form-control:-webkit-autofill:hover,
.form-floating > .form-control:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px var(--pe-input-bg-color) inset !important;
}




/*=====  Start Of Checkbox & Radio CSS  ======*/



.form-check {
    --pe-form-check-line-height:var(--pe-form-check-width);

    display: block;
    padding-left: calc(var(--pe-form-check-width) + 10px);
    margin-bottom: 1rem;
    font-size: var(--pe-input-font-size);
    font-weight: var(--pe-input-font-weight);
    line-height: var(--pe-form-check-line-height);
}

.form-check .form-check-input {
    float: left;
    margin-left: calc((var(--pe-form-check-width) + 10px) * -1);
}
.form-check .form-check-label {
    cursor: pointer;
}

.form-check-input {
    width: var(--pe-form-check-width);
    height: var(--pe-form-check-height);
    vertical-align: top;
    background-color: var(--pe-form-check-bg);
    background-image: var(--pe-form-check-bg-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: var(--pe-input-border-width) solid var(--pe-form-check-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
            appearance: none;
    print-color-adjust: exact;
    cursor: pointer;
    /* transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out; */
}

.form-check-input[type="checkbox"] {
    border-radius: var(--pe-form-check-border-radius);
}

.form-check-input[type="radio"] {
    border-radius: 50%;
}

.form-check-input:focus {
    outline: 0;
}



.form-check-input:checked {
    background-color: var(--pe-form-check-active-bg);
    border-color: var(--pe-form-check-border-color);
}


.form-check-input:checked[type="checkbox"] {
    --pe-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

.form-check-input:checked[type="radio"] {
    background-color: var(--pe-form-check-bg);
    --pe-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='none'%3e%3crect x='4' y='4' width='12' height='12' rx='6' fill='%230E5372'/%3e%3c/svg%3e")
}

.form-check:hover .form-check-input:checked[type="checkbox"]:not(:disabled) {
    background-color: var(--pe-form-check-hover-bg);
    border-color: var(--pe-form-check-hover-border-color);
    --pe-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

.form-check:hover .form-check-input:checked[type="radio"]:not(:disabled) {
    background-color: var(--pe-form-check-bg);
    border-color: var(--pe-form-check-hover-border-color);
    --pe-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='none'%3e%3crect x='4' y='4' width='12' height='12' rx='6' fill='%2384A63C'/%3e%3c/svg%3e")
}

.form-check:hover .form-check-input:not(:disabled){
    border-color: var(--pe-form-check-hover-border-color);
}

.form-check-input:disabled,
.form-check-input:disabled + .form-check-label{
    pointer-events: none;
    -webkit-filter: none;
            filter: none;
    opacity: var(--pe-form-check-disabled-opacity);
}


/*=====  Start of Input Group CSS  ======*/

.input-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
        flex-wrap: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    width: 100%;
}

.input-group > .form-control,
.input-group > .form-select,
.input-group > .form-floating {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

.input-group > .form-control:focus,
.input-group > .form-select:focus,
.input-group > .form-floating:focus-within {
    z-index: 5;
}

.input-group .btn {
    position: relative;
    z-index: 2;
}

.input-group .btn:focus {
    z-index: 5;
}