
    /* =================================================  
        Mobile Navigation 
    ================================================= */


    .mobile-nav-drawer .slideout-submenu,
    .mobile-nav-drawer .btn-close{
        position: relative;
        width: 30px;
        height: 30px;
        right: 0;
    }

    .mobile-nav-drawer .slideout-submenu svg{
        width: 14px;
        height: 14px;
    }
    .mobile-nav-drawer .btn-close svg{
        width: 20px;
        height: 20px;
    }

    .mobile-nav-drawer .drawer-body{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }

    .navbar-mobile.navbar-mobile-slide{
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        overflow: auto;
    }



    .mobile-nav-drawer .navbar-mobile{
        padding: 15px;
    }

    .mobile-nav-drawer .navbar-mobile:not(.navbar-mobile-secondary) > .navbar-nav > .nav-item{
        padding: 12px 5px;
        width: 100%;
        position: relative;
    }

    .mobile-nav-drawer .navbar-mobile:not(.navbar-mobile-secondary) .navbar-nav > .nav-item > .nav-link{
        font-size: 15px;
        font-weight: 600;
        color: var(--pe-color-black);
    }

    .mobile-nav-drawer .navbar-mobile:not(.navbar-mobile-secondary) .navbar-nav > .nav-item{
        border-bottom: 1px solid var(--pe-color-gray-200);
    }
    .navbar-mobile-secondary .navbar-nav > .nav-item > .nav-link{
        color: var(--pe-color-white);
    }
    

    .mobile-nav-drawer .dropdown .dropdown-menu{
        background: #fff;
        position: fixed;
        width: 100%;
        top: 0;
        left: 100%;
        bottom: 0;
        z-index: 9;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        transition: all .65s cubic-bezier(.19,1,.22,1);
        transition-timing-function: cubic-bezier(.19,1,.22,1);
        visibility: hidden;
    }

    .mobile-nav-drawer .navbar-nav > .dropdown.open > .dropdown-menu{
        left: 0%;
        visibility: visible;
    }


    .mobile-nav-drawer .navbar-nav > .dropdown.open > .dropdown-menu > .dropdown.open > .dropdown-menu{
        left: 0%;
        visibility: visible;
    }

    .mobile-nav-drawer .navbar-nav .dropdown .dropdown-menu > .nav-item{
        padding: 12px 5px;
        margin: 0 15px;
        border-bottom: 1px solid var(--pe-color-gray-200);
    }

    .mobile-nav-drawer .navbar-nav .dropdown .dropdown-menu > .nav-item > .nav-link{
        font-size: 15px;
        font-weight: 400;
        color: var(--pe-color-black);
    }




    .mobile-nav-drawer .navbar-mobile.navbar-mobile-secondary .navbar-nav > .nav-item{
        padding: 10px 0px;
        width: 100%;
        position: relative;
    }
    .mobile-nav-drawer .navbar-mobile.navbar-mobile-secondary .navbar-nav > .nav-item > .nav-link{
        font-size: 15px;
        font-weight: 500;
        color: var(--pe-color-white);
    }