/* Image Zoom css  */
.media{
    position: relative;
}
.image-magnify-full-size{
    position: absolute;
    display: block !important;
    width: 100%;
    height: 100%;
    cursor: zoom-out;
}
.image-magnify-hover{
    cursor: zoom-in;
}


.product-thumb--image .thumb-item{
    border:1px solid transparent;
    border-radius: 2px;
}

.swiper-slide-thumb-active .product-thumb--image .thumb-item{
    border:1px solid #000;
}

.product-thumb--image.swiper-slide-thumb-active .thumb-item,
.product-thumb--image.swiper-slide-active .thumb-item{
    border:1px solid var(--pe-color-gray-700);
}

.swiper-wrapper__custom--thumbs.classic-horizontal{
    margin-top: 10px;
}

/*=============================================
=            Product Vertical Thumb Slider            =
=============================================*/

.classic-vertical .product-image-thumbs swiper-slide {
    cursor: pointer;
}
.swiper-wrapper__custom--thumbs.classic-vertical{
    margin-top: 10px;
}

@media (min-width: 992px) {
    .swiper-wrapper__custom--thumbs.classic-vertical .swiper-button-prev{
        top: 0;
        transform: translate(-50%, 0px) rotate(90deg);
        left: 50%;
    }
    .swiper-wrapper__custom--thumbs.classic-vertical .swiper-button-next{
        bottom: 0;
        top: auto;
        transform: translate(-50%, 0px) rotate(90deg);
        left: 50%;
    }

    .classic-vertical{
        --pe-product-image-thumbs-width:60px;
    }   
    
    .swiper-wrapper__custom--main.classic-vertical .product-image-thumbs .product-thumb--image{
        height: var(--pe-product-image-thumbs-width);
        width: var(--pe-product-image-thumbs-width);
        display: flex;
    }
    
    .swiper-wrapper__custom--main.classic-vertical{
        width:calc(100% - var(--pe-product-image-thumbs-width) - 20px);
        order: 2;
    }
    
    .swiper-wrapper__custom--thumbs.classic-vertical{
        width:var(--pe-product-image-thumbs-width);
        order: 1;
        display: flex;
        align-items: center;
        margin-top: 0;
    }
    
    .classic-vertical .product-image-thumbs{
        height: 410px;
    }
}









.product-info .product-form{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
}

.product-info .product-form > div{
    width: 100%;
}

.product-info .product-form > div.quantity-wrapper,
.product-info .product-form > div.product_buy_buttons{
    width: auto;
    flex: 1 1 auto;
}

.product-info .product-form > div.product_buy_buttons form.form{
    flex-direction: column !important;
}